v_1.0.2/source/hin-web/src/main/webapp/WEB-INF/hl7/schemas/PRPA_MT101302UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT101302UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2010-11-17T09:08:08
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.4. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2010-11-17T09:08:08
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT150007UV.xsd"/>
   <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT710007UV07.xsd"/>
   <xs:include schemaLocation="COCT_MT960000UV05.xsd"/>
   <xs:include schemaLocation="COCT_MT030207UV07.xsd"/>
   <xs:complexType name="PRPA_MT101302UV.AdministrativeObservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.BirthPlace.subjectOf">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Subject2">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.BirthPlace.subjectOf.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.BirthPlace.subjectOf.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.BirthPlace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCT_MT710007UV07.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPA_MT101302UV.BirthPlace.subjectOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Citizen.politicalNation">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Nation">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Citizen.politicalNation.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Citizen.politicalNation.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Citizen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="politicalNation" type="PRPA_MT101302UV.Citizen.politicalNation"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CIT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.ContactParty.contactPerson">
      <xs:complexContent>
         <xs:extension base="COCT_MT030207UV07.Person">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.ContactParty.contactPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.ContactParty.contactPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.ContactParty.contactOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.ContactParty.contactOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.ContactParty.contactOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="contactPerson" type="PRPA_MT101302UV.ContactParty.contactEntityChoice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="contactOrganization"
                        type="PRPA_MT101302UV.ContactParty.contactEntityChoice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Employee.employerOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.Employee.employerOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Employee.employerOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Employee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobTitleName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobClassCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="occupationCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="employerOrganization"
                     type="PRPA_MT101302UV.Employee.employerOrganization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Guardian.guardianPerson">
      <xs:complexContent>
         <xs:extension base="COCT_MT030207UV07.Person">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Guardian.guardianPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Guardian.guardianPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Guardian.guardianOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.Guardian.guardianOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Guardian.guardianOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Guardian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guardianPerson" type="PRPA_MT101302UV.Guardian.guardianEntityChoice"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="guardianOrganization"
                        type="PRPA_MT101302UV.Guardian.guardianEntityChoice"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUARD"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.IdentifiedPerson.identifiedPerson">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Person">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.IdentifiedPerson.identifiedPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.IdentifiedPerson.identifiedPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.IdentifiedPerson.assigningOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150000UV02.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.IdentifiedPerson.assigningOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.IdentifiedPerson.assigningOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.IdentifiedPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="identifiedPerson"
                     type="PRPA_MT101302UV.IdentifiedPerson.identifiedPerson"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="assigningOrganization"
                     type="PRPA_MT101302UV.IdentifiedPerson.assigningOrganization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPA_MT101302UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Nation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="NAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.OtherIDs.scopingOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150002UV01.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.OtherIDs.scopingOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.OtherIDs.scopingOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="PRPA_MT101302UV.OtherIDs.scopingOrganization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.PatientCareProvisionEvent.performer">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Performer">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.PatientCareProvisionEvent.performer.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.PatientCareProvisionEvent.performer.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.PatientCareProvisionEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PRPA_MT101302UV.PatientCareProvisionEvent.performer"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Performer.responsibleParty">
      <xs:complexContent>
         <xs:extension base="COCT_MT040200UV01.ResponsibleParty">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Performer.responsibleParty.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Performer.responsibleParty.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="responsibleParty" type="PRPA_MT101302UV.Performer.responsibleParty"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Person.asEmployee">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Employee">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.asEmployee.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.asEmployee.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.asCitizen">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Citizen">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.asCitizen.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.asCitizen.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.asStudent">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Student">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.asStudent.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.asStudent.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.asOtherIDs">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.OtherIDs">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.asOtherIDs.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.asOtherIDs.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.asRole">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Role">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.asRole.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.asRole.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.contactParty">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.ContactParty">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.contactParty.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.contactParty.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.guardian">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Guardian">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.guardian.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.guardian.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.personalRelationship">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.PersonalRelationship">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.personalRelationship.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.personalRelationship.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person.birthPlace">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.BirthPlace">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Person.birthPlace.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Person.birthPlace.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="COLL_EN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maritalStatusCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployee" type="PRPA_MT101302UV.Person.asEmployee" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asCitizen" type="PRPA_MT101302UV.Person.asCitizen" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asStudent" type="PRPA_MT101302UV.Person.asStudent" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asOtherIDs" type="PRPA_MT101302UV.Person.asOtherIDs" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asRole" type="PRPA_MT101302UV.Person.asRole" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="PRPA_MT101302UV.Person.contactParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="guardian" type="PRPA_MT101302UV.Person.guardian" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="personalRelationship" type="PRPA_MT101302UV.Person.personalRelationship"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="birthPlace" type="PRPA_MT101302UV.Person.birthPlace" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="languageCommunication" type="PRPA_MT101302UV.LanguageCommunication"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relationshipHolder" type="COCT_MT030207UV07.Person" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Role.subjectOf">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.Subject">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Role.subjectOf.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Role.subjectOf.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Role">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectOf" type="PRPA_MT101302UV.Role.subjectOf" nillable="true"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Student.schoolOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV.Student.schoolOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Student.schoolOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Student">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="schoolOrganization" type="PRPA_MT101302UV.Student.schoolOrganization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="STD"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Subject.patientCareProvisionEvent">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV.PatientCareProvisionEvent">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV.Subject.patientCareProvisionEvent.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV.Subject.patientCareProvisionEvent.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientCareProvisionEvent"
                     type="PRPA_MT101302UV.Subject.patientCareProvisionEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="position" type="COCT_MT960000UV05.Position" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrativeObservation"
                     type="PRPA_MT101302UV.AdministrativeObservation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
</xs:schema>